{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load bootstrap5 %}
{% load i18n widget_tweaks %}

{% bootstrap_messages %}

{% block head_title %}{% trans "Login" %}{% endblock head_title %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center text-center"> 
        <div class="col-md-6 bg-body-tertiary p-4 rounded border"> 
            <h1 class="mb-2">{% trans "Login" %}</h1>
            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
                <ul class="socialaccount_providers list-unstyled">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>
            {% include "socialaccount/snippets/login_extra.html" %}
            {% endif %}
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="form-group mb-3">
                     {% for field in form %}
                        {% if field.name != 'remember' %}
                            <div class="mb-3">
                                <label for="{{ field.id }}">{{ field.label }}</label>
                                {{ field|add_class:"form-control" }}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                                {% if field.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in field.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label" for="{{ field.id }}">{{ field|add_class:"form-check-input" }} {{ field.label }}</label>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <a class="btn btn-secondary mb-3" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                <button class="btn btn-primary mb-3" type="submit">{% trans "Login" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
